* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: norse-bold;
    src: url("Norse-Bold.otf");
}

body {
    background-color: #EAEDF0;

    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

.left-wrapper {
    background-image: url("halie-west-unsplash.jpg");
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

img {
    height: 125px;
}

.odin-logo {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: norse-bold, sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    color: #EAEDF0;
    position: relative;
    top: 20vh;
    padding: 10px;
}

.credit {
    display: flex;
    color: #EAEDF0;
    font-size: 1rem;
    font-weight: lighter;
    justify-content: center;
}

.form-header {

    width: 100%;
    padding: 100px 50px 50px 50px;
}

.form-inputs {
    box-shadow: 0 10px 5px -5px grey;
    padding-bottom: 50px;
    background-color: #f6f7f8;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.title {
    padding: 20px 50px;
    background-color: #f6f7f8;
}

.form-input {
    margin: 5px 50px;
}

.form-input input {
    display: block;
    height: 25px;
}

.form-input label {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .8rem;
    color: grey;
}

input {
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    position: relative;
    padding-left: 1ch;
}

input:focus {
    border: 1px solid blue;
    box-shadow: 1px 3px 3px 2px lightgrey;
}


.form-btn button {
    margin: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #596D48;
    padding: 20px 50px;
    border-radius: 10px;
    color: #e5e7eb;
}

.login {
    display: flex;
    margin: 0px 50px 50px 50px;
    padding-bottom: 50px;
    gap: .5ch;
    font-size: 1rem;
}

.login>a {
    color: #596D48;
}

input[type="password"]:invalid {
    border: 1px solid red;
}

input.error:invalid+span::after {
    content: "*Passwords do not match";
    font-size: 0.7rem;
    color: red;
    position: absolute;
    padding: 2px;
    margin-top: 2px;
    border-radius: 3px;
    font-weight: lighter;
}

input:invalid {
    border: 1px solid red;
}

a:link {
    color:#EAEDF0;
}